@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&family=Work+Sans:wght@400;500;600&display=swap');
:root {
    --black: #17181A;
    --dark-grey: #3B3C3D;
    --dark-background: #ededed;
    --blue: #3E44C9;
    --pink: #FE7D72;
    --green: #6CA393;
    --yellow: #F7BD54;
    --light-blue: #00BFE7;
    --lines: #e8e8e8;
}

body {
    position: relative;
    background-color: #fafafa;
}


/* fonts */

h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
}

h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

p,
label,
.tag {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


/* font colors */

.text-black {
    color: var(--black);
}

.text-grey {
    color: var(--dark-grey);
}

.text-yellow {
    color: #DBA84B;
}


/* components */

.navigation {
    position: relative;
    background-color: white;
    height: 64px;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid var(--lines);
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    box-shadow: 0px 0px 4.72964px rgba(0, 0, 0, 0.16);
}

.navigation>*,
.searchbar>*,
.links-right>*,
.profile-name>* {
    align-self: center;
}

.logo {
    align-self: center;
    width: 226px;
}

.searchbar {
    position: relative;
    background-color: var(--dark-background);
    border-radius: 80px;
    height: 40px;
    width: 900px;
    display: flex;
    flex-direction: row;
}

.searchbar .placeholder {
    margin-left: 12px;
    border: none;
    background: none;
    outline: none;
    width: 80%;
}

.searchbar .icon {
    margin-left: 16px;
}

.searchbar .icon-close {
    display: none;
}

.placeholder:focus+.icon-close {
    display: inline;
    position: absolute;
    right: 8px;
}

.searchbar:hover {
    background-color: white;
    border: 1px inset var(--black);
}

.links-right {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 226px;
    padding: 8px 12px;
}

.links-right .profile-pic {
    border-radius: 80px;
    width: 32px;
    height: 32px;
}

.profile-name {
    margin-right: 8px;
}

.profile-name p {
    display: inline-block;
    font-weight: 600;
}

.links-right>*:hover {
    opacity: 80%;
    cursor: pointer;
}

.profile-name img {
    position: absolute;
    top: 16px;
    margin-left: 4px;
}

.links-right .divider {
    border-left: 1px solid var(--lines);
    height: 24px;
    width: 1px;
    margin-left: 8px;
}

.toast {
    width: 100%;
    height: 48px;
}

.toast p {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

.toast-resting {
    border: 1px solid var(--lines);
    box-sizing: border-box;
    background-color: white;
}

.toast-error {
    border-bottom: 1px solid #FE4E40;
    background: #FFD1D1;
    color: #FE4E40;
}

.illustration {
    margin: auto;
    max-width: 500px;
}

.illustration-login {
    margin: auto;
    max-width: 320px;
}


/* columns and content */

.content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
    padding: 48px 0px;
}

.container {
    width: 880px;
    margin: auto;
}

.surface {
    background: #FFFFFF;
    /* grey */
    border: 1px solid var(--lines);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 24px;
}

.left {
    width: 344px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.right {
    width: 520px;
    margin-left: 16px;
    height: fit-content;
}

.surface.second {
    margin-top: 16px;
}

.block-full-width {
    width: 880px;
    margin: auto;
}


/* Main title */

.main-title {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title>* {
    display: inline-block;
    align-items: center;
}

.left .tag {
    display: none;
}

.tag {
    border-radius: 80px;
    padding: 4px 12px;
    height: 32px;
    font-weight: bold;
}

.tag-yellow {
    background-color: #FFEDBE;
}


/* data block */

.data-block {
    padding: 16px 0px;
}


/* subtitle */

.subtitle {
    height: 42px;
    border-bottom: 1px solid var(--lines);
}

.subtitle h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: 42px;
}


/* rows of data */

.row-text p {
    display: inline-block;
    justify-self: center;
    line-height: 40px;
}

.row-text {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.row-text .row-key {
    font-weight: 600;
}

.row-photos-small {
    display: flex;
    justify-content: space-between;
    height: 126px;
    padding: 16px 0px;
}

.row-photos-big {
    display: flex;
    justify-content: space-between;
    height: 186px;
    padding: 16px 60px 16px 0px;
}


/* photos */

.photo-id {
    width: 32%;
    background: url() #fafafa;
    border: 1px solid var(--lines)
}

.photo-selfie {
    width: 20%;
    background: url() #fafafa;
    border: 1px solid var(--lines)
}


/* .photo-id:hover,
.photo-selfie:hover {} */


/* button */

.button {
    width: 100%;
    border: 1px solid var(--lines);
    color: var(--blue);
    transition: 0.3s;
}

.small-btn {
    margin-top: 8px;
    height: 40px;
}

.big-btn {
    height: 54px;
}

.col-2 {
    width: 64%;
}

.col-1 {
    width: 16%;
}

.button:hover {
    background-color: #fafafa;
}

.button p {
    font-weight: 600;
}

.inline-button {
    background: none;
    outline: none;
    border: none;
    padding: 8px 0px;
    font-weight: 600;
    font-size: 14px;
    color: var(--blue);
}

.inline-button:hover {
    opacity: 80%;
}

.button-navigation {
    display: flex;
    justify-content: space-between;
}

#reject {
    color: #FE4E40;
    border: 1px solid #FE4E40;
}

#approve {
    color: #149F22;
    border: 1px solid #149F22;
}

#cancel {
    /* border: transparent; */
    background: transparent;
}

#cancel:hover {
    opacity: 80%;
}

#reject:hover {
    border: 1px solid #FE4E40;
    color: #FE4E40;
    background-color: #FFDAD7;
}

#approve:hover {
    border: 1px solid #149F22;
    color: #149F22;
    background-color: #E4F0E5;
}


/* card client */

.card-client {
    width: 100%;
    padding: 12px 16px;
    margin: 16px 0px;
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.card-client .client-pic {
    border-radius: 80px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
}

.card-client .client-details {
    margin-left: 16px;
}


/* Comments */

.comments {
    border: 1px solid var(--lines);
    resize: none;
    background: none;
    outline: none;
    border-radius: 2px;
    width: 100%;
    height: 80px;
    padding: 8px;
}


/* form */

.login-content {
    width: 360px;
    margin: auto;
    /* margin-top: 24px; */
}

.login-content h1 {
    display: inline-block;
    margin-bottom: 8px;
}

.login-button {
    margin-top: 24px;
    font-weight: 600;
    color: var(--blue);
    height: 48px;
}

.field-box {
    height: 40px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

.field-box:focus {
    border: 1px solid var(--black);
    box-shadow: none;
}

form {
    display: flex;
    flex-direction: column;
}

#login {
    padding-top: 40px;
}